<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Teachers</key>
	<array>
		<dict>
			<key>FirstName</key>
			<string>Brad</string>
			<key>LastName</key>
			<string>Johnson</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>John</string>
			<key>LastName</key>
			<string>Clem</string>
		</dict>
	</array>
	<key>Students</key>
	<array>
		<dict>
			<key>FirstName</key>
			<string>Dan</string>
			<key>LastName</key>
			<string>Fairbanks</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Micheal</string>
			<key>LastName</key>
			<string>Babiy</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Cole</string>
			<key>LastName</key>
			<string>Batcher</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Christopher</string>
			<key>LastName</key>
			<string>Cohan</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Lauren</string>
			<key>LastName</key>
			<string>Lee</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Sean</string>
			<key>LastName</key>
			<string>McNeil</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Taylor</string>
			<key>LastName</key>
			<string>Potter</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Brian</string>
			<key>LastName</key>
			<string>RaderBaugh</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Anton</string>
			<key>LastName</key>
			<string>Rivera</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Reed</string>
			<key>LastName</key>
			<string>Sweeney</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Ryo</string>
			<key>LastName</key>
			<string>Tulman</string>
		</dict>
        <dict>
			<key>FirstName</key>
			<string>Mathew</string>
			<key>LastName</key>
			<string>Voss</string>
		</dict>
	</array>
</dict>
</plist>
